body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar{
  font-size: 18px;
  padding-top: 2px;
  /* background: rgba(0, 0, 0, 0.25); */
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  height: 106px;
  background: #0B1D26;
  /* mix-blend-mode: multiply; */
  opacity: 0.9;
}
.nav-bar ul li{
list-style: none;
color: #ffff;
/* width: 35%;
display: flex;
align-items: center; */
}
.nav-bar .left-menu{
    /* margin: 0; */
    /* padding: 0px; */
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 36%;
    justify-content: space-between;

}
.nav-bar .right-menu{
  margin: -39px;
  /* padding-right: 59px; */
  margin-top: -131px;
  margin-right: 19px;
  float: right;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 36%;
  justify-content: space-between;
  
  }

  .nav-bar .logo img{
    max-width: 81%;
    position: relative;
    top: -4px;
    max-width: 55%;
    position: relative;
    top: -78px;
    right: -434px;
  }

  .nav-bar .logo {
    width: 38%;
    text-align: center;
    
  }

  .nav-bar a {
     
      color: #ffffff !important;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      display: inline-block;
      font-family: 'Open Sans';
      font-style: normal;
      line-height: 25px;
  
  }
  .banner-container{
     background: url('./images/the_crown14-lrg%201.png');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
    padding-top: 15rem;
    padding-bottom: 15rem;
    font-family: 'Open Sans';
  }
  /* .banner-container ::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(330.24deg, rgba(29, 37, 45, 0) 28.06%, #1D252D 105.93%);
    width: 100%;
    HEIGHT: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 9;
 } */
 .container-heading {
    position:relative;
    z-index: 10;
 }
  .container-heading .banner-subHdng {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    padding-left: 100px;
    color: #FFFFFF;
  } 

  .container-heading .banner-hdng {
    width: 1000px;
    max-width: 100%;
    margin-bottom: 30px;
    padding-top: 10px;
    font-size: 69px;
    line-height: 91px;
    padding-left: 100px;
  }

  .container-heading .banner-backgroundhover {
    display: flex;
    flex-wrap: wrap;
    margin: 27px;
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    padding-left: 100px;
  }

  .container-heading .banner-backgroundhover a {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #142A4A;
    text-decoration: none;
    margin-right: 30px;
    padding: 7px 20px;
    z-index: 1;
    transition: all 0.3s linear;
    overflow: hidden;
    position: relative;
    width: 330px;
    height: 48px;
    justify-content: center;
  }

  .container-heading .banner-backgroundhover a:hover { 
   color: #fff;
   background: #142A4A;
  }

  .hero-section {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    background: #FFFFFF;
  }

  .left-section {
    width: 53.666667%;
  }
  .right-section {
    width: 46.333333%;
  }

  .hero-row{
    padding-top: 114px;
    padding-left: 114px;
    display: flex;
  }

  .hero-row .left-section .left-inner{
    padding: 0px 75px 0 26px;
  }

  .hero-subheading {
    display: flex;
    align-items: end;
    padding: 0px;
    padding-bottom: 0px;
  }

  .hero-subheading img {
    opacity: 0.5 !important;
  }

  .subheading {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #142A4A;
    opacity: 0.5;
    margin-bottom: 7px;
  }

  .heading {
    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 27px 0px;
    font-size: 49px;
    line-height: 60px;
    font-style: normal;
    font-weight: normal;
    font-family: Gelasio;
  }

  .content {
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 27px 0px;
  }

  .section-link a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #142A4A;
    opacity: 0.5;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 0px 9px; */
    text-decoration: none;
    transition: all 0.3s ease;
    /* margin-left: 1px; */
   
  }

  .svg-section {
    padding-left: 2px;
    transition: all 0.8s ease;
  }

  .right-inner ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 12px; */
}

.right-inner ul li {
  padding-right: 26px;
}

.right-inner ul li img {
  padding: 0 7px 32px 7px;
  width: 100%;
}
.nav-bar .right-menu {
  margin: -39px;
  /* padding-right: 59px; */
  margin-top: -131px;
  margin-right: 18px;
  float: right;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  justify-content: space-between;
}